process.cache = 'deep'

profiles {

	quest {
		singularity {
		    enabled = true
		    autoMounts = true
		}
	}

	local {
		docker {
		    enabled = true
		}
	}

	standard {
		singularity {
		    enabled = true
		    autoMounts = true
		}
	}

}

process {
	errorStrategy='retry'
	maxRetries=3
	container = 'andersenlab/mediation:v0.4'
}

report {
    enabled = true
}